
* {
    font-family: fantasy;
    line-height: 30px;
}

body {
    background-color: rgb(43, 43, 34);
}

header {
    height: 215px;
    color: rgb(65, 160, 212);
    text-shadow: 2px 2px #FF0000;
    width: 100%;
    background-color: rgb(43, 43, 34);
    position: fixed;
}

.nav a {
  float: right;
  color: #f2f2f2;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 15px;
  margin-right: 25px;
}

.nav a:hover {
    background-color: rgb(184, 151, 151);
  }

h1 {
    text-align: center;
    line-height: 150px;
    color: rgb(184, 151, 151);
    font-size: 80px;
    text-shadow: 2px 2px #FF0000;
}

h3 {
    color: rgb(184, 151, 151);
    text-align: center;
    font-size: 20px;
    text-shadow: -0.75px -0.75px #FF0000;
}   

h4 {
    margin-top: 375px;
    margin-left: 40px;
    margin-bottom: 200px;
    width: auto;
    color: rgb(184, 151, 151);
    text-align: left;
    text-shadow: -0.6px -0.6px white;
}

p {
    color: rgb(184, 151, 151);
    margin: 40px;
    font-size: 20px;
    width: 95%;
    align: center;
    margin-top: 100px;
}

.rockies {
    margin-left: 10px;
    width: 98%;
    height: 210px;
    align: center;
}

.sunset {
    margin-bottom: 0px;
    margin-top: 20px;
    width: 100%;
    align: center;
    height: 500px;
}

img {
    max-width: 100%;
    max-height:100%;
}
   
.fix {
    font-size: 20px;
    margin-top: 20px;
    color:  rgb(184, 151, 151);
}   

.another-class {
    color: rgb(184, 151, 151);
    font-size: 20px;
    width: 95%;
    align: center;
    margin-bottom: 50px;
    margin-left: 40px;
    margin-top: 50px;
}

.move-text {
    display: flex;
    width: auto;
    height: 800px;
    margin-top: 100px;
}  

.s {
    .max-content
    width: max-content;
    color:  rgb(184, 151, 151);
    font-size: 20px;
}


html {
    scroll-behavior: smooth;
   }
   
   a {
    text-decoration: none;
    color: black;
   } 
   
   #down {
    margin-top: 100%;
    padding-bottom: 25%;
   }

